@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --text-sm: .875rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-xxl: 1.75rem;
    --text-3xl: 2rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;

    --icon-size-md: 1rem;

    --color-dark-grey: #434343;
    --color-grey-md: #666;

    --color-primary: var(--color-dark-grey);
    --color-primary-bg: var(--color-dark-grey);
    --text-color-primary: var(--color-grey-md);

    --font-fm-poppins: 'Poppins', 'Roboto', sans-serif;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input,
textarea {
    outline: transparent;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

svg {
    color: var(--color-dark-grey);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-primary);
}

#app-container {
    min-height: 100vh;
    max-width: 1280px;
    margin-inline: auto !important;
}


/* Button */
.btn {
    padding: .6rem 1.5rem;
    border: none;
    outline: transparent;
    cursor: pointer;
    font-size: var(--font-md);
    border-radius: .25rem;
    font-family: 'Poppins', sans-serif;

}

.btn-sm {
    font-size: var(--text-sm);
}

.btn-primary {
    background-color: var(--color-primary) !important;
    color: #fff !important;
}

.btn-primary:focus-visible {
    background-color: var(--color-primary) !important;
}

.btn-full {
    width: 100%;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    line-height: 1;
    font-size: var(--text-sm);

}

.btn-icon svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}

/*  */

.page-container {
    /* padding-inline: .5rem; */
    min-height: 100vh;
}