.product-page_main {
    min-height: 100vh;
}

.product-info__details {
    padding-inline: .5rem;
}

.product-name {
    margin-block: .5rem;
    font-weight: 500;
    font-size: var(--text-lg);
}

.product-category {
    color: var(--color-primary);
}

.product-price {
    margin-block: .5rem;
    font-size: var(--text-lg);
}

.product-page__actions {
    margin-block: 1rem;
}