/* Flex */
.d-flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-jbt-atc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-align-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */

.border-rounded {
    border-radius: 50%;
}

/* Typography */


.text-sm {
    font-size: var(--text-sm);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-center {
    text-align: center;

}

.c-pointer {
    cursor: pointer;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/*  */


/* Height */
.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

/*  */


/* images */
.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

/*  */


/* Margins */
.my-2 {
    margin-block: .5rem;
}

/*  */

/* tag-sm */

.tag-sm {
    width: max-content;
    padding: .25rem;
    font-size: var(--text-xs);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: .25rem;
}